h2 {
  color: white;
  margin-left: 20px;
}
h3 {
  color: grey;
  margin-left: 40px;
}
BODY{
  background: repeating-linear-gradient(
  to right,
  #ffeebf,
  #ffeebf 20px,
  #fffcf5 20px,
  #fffcf5 40px);
}
