
#title{
filter: drop-shadow(5px 5px 2px #FFFFFF);
  position:absolute;
  top:10px;
  left:10px;  
}

.header{
  border-style: outset;
  font-family: 'Didot', serif;
  font-size: 12;
  border-color: #23124a;
  text-align: center;
  letter-spacing: 30px;
  background: rgba(0,0,0,0.5);
  color: white;
}
.sub_header{
  font-family: 'Didot', serif;
  font-size: 10;
  text-align: center;
  letter-spacing: 30px;
  color: black;
}

.img-gallery{
  width: 80%; 
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 100px;
}

.img-gallery img{
width: 100%;
cursor: pointer;
}

.img-gallery img:hover{
transform: scale(2);
  border-radius: 15px;
}

.full-img{
  top:0px;
  left:0px;  
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: fixed;
  display: none;
  align-items: start;
  justify-content: center;
  z-index: 100;
}

.full-img img{
top: 15px;
width: 70%;
max-width: 600px;
max-height: 1200px;
height: auto;
position: absolute;
}

.full-img span{
position: absolute;
  top: 5%;
  right: 5%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.border{
  border-style: inset;
  border-width: 7px;
  font-family: 'Didot', serif;
  border-color: antiqueWhite;
}
BODY{
background-image: repeating-radial-gradient(circle at 0%, #e6d9b8, white 200px);
}
